.page-Statistics {
background: color($colors, statistics);
}

.canvas {
    padding: 0;
    margin: -10px;
    display: block;
    width: 800px;
}

.headersize-statistics {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: left;
}


.card-header-ios{
  color:#fff;
}

.card-header-md{
  color:#fff;
}

.card-text{
  text-align: center;
  font-size: 1.2rem;
}

.card-ios{
  background: #1592A2;
  box-shadow: 1 1px 1px;
}

.card-md{
  background: #1592A2;
  box-shadow: 1 1px 1px;
}

.img-frequency-card {
    max-width: 80%;
    border: 0;
    margin-left: 8px;
    margin-top:-30px;
}

.img{
    margin-top:20px !important;
}


.toolbar-background-ios-statistics .toolbar-background-ios {
    background: #1592A2;
}

.toolbar-background-md-statistics .toolbar-background-md {
    background: #1592A2;
}


.moodNumberPosition{
 text-align: center;
}
