.toolbar-background-ios-register .toolbar-background-ios {
    background: #34373E ;
}

.toolbar-background-md-register .toolbar-background-md {
    background: #34373E ;
}

.form-position{
    margin: 100px 16px 16px 16px;
}