.page-achievement {
    background: color($colors, achievement);
    
}


.fullscreen-image {

  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.img-loaded{
  min-width: 100%
}

.ion-img{
display:block; 

}

.achievement-button{
  margin-top: 50px !important;
}

.button-ios{
  margin:0;
}

.toolbar-background-ios-achievement .toolbar-background-ios {
    background: #CDDC39;
}



