
/*.col {
    padding: 0;    
}*/


.main-page{
    background: white;
    line-height:0;
}


.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: white;
}

.toolbar-title-ios {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: white;
    pointer-events: auto;
}




