


.main-page{
    background: white;
    line-height:0;
}


.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: white;
}

.header-md .toolbar-background-md, .footer-md .toolbar-background-md {
    border-style: solid;
    border-color: white;
}

.back-button{
    color:white;
}

.toolbar-title-ios {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: white;
    pointer-events: auto;
}

.toolbar-title-md {
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
    color: white;
    pointer-events: auto;
}

   $var1: 0.1s;
   $var2: 0.2s;
   $var3: 0.3s;
   $var4: 0.4s;
   $var5: 0.5s;
   $var6: 0.6s;
   $var7: 0.7s;
   $var8: 0.8s;


._1 {
  -webkit-animation-delay: $var1;
  -moz-animation-delay: $var1;
  -ms-animation-delay: $var1;
  -o-animation-delay: $var1;
  animation-delay: $var1;
}
._2 {
  -webkit-animation-delay: $var2;
  -moz-animation-delay: $var2;
  -ms-animation-delay: $var2;
  -o-animation-delay: $var2;
  animation-delay: $var2;
}
._3 {
  -webkit-animation-delay: $var3;
  -moz-animation-delay: $var3;
  -ms-animation-delay: $var3;
  -o-animation-delay: $var3;
  animation-delay: $var3;
}
._4 {
  -webkit-animation-delay: $var4;
  -moz-animation-delay: $var4;
  -ms-animation-delay: $var4;
  -o-animation-delay: $var4;
  animation-delay: $var4;
}
._5 {
  -webkit-animation-delay: $var5;
  -moz-animation-delay: $var5;
  -ms-animation-delay: $var5;
  -o-animation-delay: $var5;
  animation-delay: $var5;
}
._6 {
  -webkit-animation-delay: $var6;
  -moz-animation-delay: $var6;
  -ms-animation-delay: $var6;
  -o-animation-delay: $var6;
  animation-delay: $var6;
}
._7 {
  -webkit-animation-delay: $var7;
  -moz-animation-delay: $var7;
  -ms-animation-delay: $var7;
  -o-animation-delay: $var7;
  animation-delay: $var7;
}
._8 {
  -webkit-animation-delay: $var8;
  -moz-animation-delay: $var8;
  -ms-animation-delay: $var8;
  -o-animation-delay: $var8;
  animation-delay: $var8;
}

