<ion-header class="toolbar-background-ios-friends toolbar-background-md-friends">

  <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-Friends">
  <ion-item *ngFor="let friend of friendRequest" class="list-background">
    <ion-avatar clasS="paddingListName" item-left>
      {{ friend.name }}
    </ion-avatar>
    <ion-avatar item-right>
      <img [src]="confirm" *ngIf="!friend.accepted" (click)="changeToConfirm(friend)">
    </ion-avatar>
    <ion-avatar item-right>
      <img [src]="decline" *ngIf="!friend.accepted" (click)="changeToDecline(friend)">
      <div *ngIf="friend.accepted" class="paddingListName">{{text}} </div>
    </ion-avatar>
  </ion-item>
</ion-content>