.page-Network {
background: color($colors, network);
}

.buttom_position {
 position:absolute;
 bottom: 100px;
}

.fullscreen-image {

  max-width: 300px;
  max-height: 300px;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.toolbar-background-ios-network .toolbar-background-ios {
    background: #334398;
}

.toolbar-background-md-network .toolbar-background-md {
    background: #334398;
}

.page-Network .__________cytoscape_container canvas {
  text-align: left !important;
  -moz-user-select: text !important;
}

.page-Network .__________cytoscape_container div {
  text-align: left !important;
}
