

.page-Mood {
    background: color($colors, mood);
    
}

.mood_image{
    margin:0 auto;
      max-width: 50% !important;
      max-height: 50% !important;
}

.content-ios {
    color: #FFF;
}

.toolbar-background-ios-mood .toolbar-background-ios {
    background: #673AB7;
}
