
.col {
    padding: 0;
}

.background {
    background: color($colors, mood);
    
}

.buttom_position {
 position:absolute;
 bottom: 10% !important;
}

.toolbar-background-ios-statistics .toolbar-background-ios {
    background: #673AB7;
}


.item-ios.item-block .item-inner {
    padding-right: 13px;
    border-bottom: 0px;
}

.item-md.item-block .item-inner {
    padding-right: 13px;
    border-bottom: 0px;
}

.icon-size{
    width:15%;
}

.currentMood-size{
    width:50%;
    margin: auto;
}