page-MoodInput {

}

.col {
    padding: 0;
}

.background {
    background: color($colors, mood);
    
}

.buttom_position {
 position:absolute;
 bottom: 10% !important;
}

.toolbar-background-ios-statistics .toolbar-background-ios {
    background: #673AB7;
}
