.page-Settings {
background: color($colors, settings);
}

.toolbar-background-ios-settings .toolbar-background-ios {
    background: #9C3413;
}

.toolbar-background-md-settings .toolbar-background-md {
    background: #9C3413;
}

.settings-card{
        background: #9C3413;
}
.columnStyle{
margin: auto;
display: block;
}
