
.page-Statistics {

background: color($colors, statistics);
}

.toolbar-background-ios-statistics .toolbar-background-ios {
    background: #1592A2;
}

.card-header-diagramm {
  width: 150px !important;
  height: 30px !important;
  margin-left: -60px;
}

.text-center {
  text-align: center;
}

.righttext{
    margin-left: 35px;
    margin-top: -25px;
}

.bottom-maring-activity{
  margin-bottom:  -40px;
}