
.page-Statistics {

background: color($colors, statistics);
}

.toolbar-background-ios-statistics .toolbar-background-ios {
    background: #1592A2;
}

.card-header-diagramm {
  width: 150px !important;
  height: 30px !important;
  margin-left: -60px;
}

.grid-basic-page {

  ion-col div {
    background-color: transparentize(rgba(0, 0, 0, 0.5), 1);
    padding: 6px;
    font-size: 4;
    border: 0px solid #fff;
    border-radius: 2px;
    text-align: center;
  }
}


.headersize_mooddiagram {
    font-size: 1.0rem;
    line-height: 1.4;
     font-weight: bold;
}



.text-center {
  text-align: center;
}

.righttext{
    margin-left: 35px;
    margin-top: -25px;
}

.bottom-maring-activity{
  margin-bottom:  -40px;
}