.page-Friends {

background: color($colors, friends);
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

.list-background {
    background-color: transparent;   
}

.note-ios-color{
   color: white !important;
}

.list-header-ios {
    color: white !important;
}

.note-md-color{
   color: white !important;
}

.list-header-md {
    color: white !important;
    background-color: transparent;
}

.item-md h2{
    color:white;
}


.item, .item-divider {
  border-color: white;
  border-block-start-color: transparent;
}

.toolbar-background-ios-friends .toolbar-background-ios {
    background: #AFBD2B;
}

.toolbar-background-md-friends .toolbar-background-md {
    background: #AFBD2B;
}

.headerSearchFriendIcon{
    text-align: center;
    font-size: 16px;
    margin-top: 20px !important;
    margin-bottom: -40px !important;
}