<ion-header class="toolbar-background-ios-friends toolbar-background-md-friends">

  <ion-navbar>
    <ion-title>Friends</ion-title>
  </ion-navbar>

</ion-header>




<ion-content class="page-Friends">




  <ion-card>
    <ion-card-content>

      <ion-list class="list-background">

        <ion-list-header>Your friends</ion-list-header>

        <ion-item class="list-background" *ngFor="let friend of currentFriendList">
          <ion-avatar class="paddingListName" item-left>
            {{ friend.name }}
          </ion-avatar>
          <ion-avatar *ngIf="friend.icon!=null" class="padding-mood-image" item-right>
            <img [src]="friend.icon"> 
          </ion-avatar>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <div class="headerSearchFriendIcon" id="headerText"> Search </div>
          <img class="ion-img" style="width:100%" src="assets/Friends/Icons/searchFriends.svg" (click)="SearchFriends()">
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <div class="headerSearchFriendIcon" id="headerText"> {{headerText}} </div>
          <img class="scroll" [src]="friendRequest" (click)="FriendRequest()">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <div class="headerSearchFriendIcon" id="headerText"> Share Mood </div>
          <img class="ion-img" style="width:100%" src="assets/Friends/Icons/shareMood.svg" (click)="ShareMood()">
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <div class="headerSearchFriendIcon" id="headerText"> Delete Friend </div>
          <img class="scroll" src="assets/Friends/Icons/deleteFriend.svg" (click)="DeleteFriend()">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>