.page-Moodmap {
background: color($colors, moodmap);
}

.buttom_position {
 position:absolute;
 bottom: 10% !important;
}


.ios, .md {
 
    .page-Moodmap {
 
 
      #map {
        width: 100%;
        height: 100%;
        overflow: visible !important;
      }
 
    }
 
}


.buttom_position {
 position:absolute;
 bottom: 20% !important;
}

.toolbar-background-ios-moodmap .toolbar-background-ios {
    background: #4B2294;
}
