.page-Moodmap {
background: color($colors, moodmap);
}

.buttom_position {
 position:absolute;
 bottom: 10% !important;
}


.ios, .md {
 
    .page-Moodmap {
 
 
      #map {
        width: 100%;
        height: 100%;
        overflow: visible !important;
      }
 
    }
 
}


.buttom_position {
 position:absolute;
 bottom: 20% !important;
}

.toolbar-background-ios-moodmap .toolbar-background-ios {
    background: #4B2294;
}

.toolbar-background-md-moodmap .toolbar-background-md {
    background: #4B2294;
}

.centerbutton{
    margin-left: 18px;
    margin-top: 14px;
}

.activation_is_clicked {
    opacity: 1;
}

.activation_is_not_clicked {
    opacity: 0.2;
}

.pleasance_is_clicked{
    opacity: 1;
}

.pleasance_is_not_clicked{
    opacity: 0.2;
}