.page-Moodmap {
background: color($colors, moodmap);
}

.ios, .md {
 
    .page-Moodmap {
 
 
      #map {
        width: 100% !important;
        height:100% !important;
        overflow: visible !important;
      }
 
    }
 
}


.legend-position {
    
 position:absolute;
 bottom: 20% !important;
 background:  #4B2294;
 opacity: 0.5;
 text-align: center;
 padding: 2px;
 margin: 2px;

}

.text-position{
    margin: auto;
    margin-left: 4px;
    margin-right: 4px;

}

.toolbar-background-ios-moodmap .toolbar-background-ios {
    background: #4B2294;
}

.toolbar-background-md-moodmap .toolbar-background-md {
    background: #4B2294;
}

.centerbutton{
    margin-left: 18px;
    margin-top: 14px;
}

.activation_is_clicked {
    opacity: 1;
}

.activation_is_not_clicked {
    opacity: 0.2;
}

.pleasance_is_clicked{
    opacity: 1;
}

.pleasance_is_not_clicked{
    opacity: 0.2;
}

.mood_is_clicked{
    opacity: 1;
}

.mood_is_not_clicked{
    opacity: 0.2;
}