.page-TeamView {
    background: #FF9800;
    
}
.toolbar-background-ios-TeamView .toolbar-background-ios {
    background: #CA7800;
}

.toolbar-background-md-TeamView .toolbar-background-md {
    background: #CA7800;
}

.list-background-team{
        background: #CA7800 !important;
}

.searchbar-ios {
background: rgba(255, 255, 255, 0);
}