<ion-header class="toolbar-background-ios-friends toolbar-background-md-friends">

  <ion-navbar>
    <ion-title>Share Mood</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-Friends">
  <ion-card>
    <ion-card-content class="friends-card-background">
      <ion-list>
        <ion-list-header>With whom would you
          <br>like to share your mood?</ion-list-header>
        <ion-item class="friends-card-background" *ngFor="let friend of currentFriendList">
          <span *ngIf="friend.name">{{ friend.name }}</span>
          <span *ngIf="!friend.name">{{ friend.mail }}</span>
          <ion-checkbox (click)="shareMood(friend)" [(ngModel)]="friend.share_mood"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>