.page-speech {
    background: #FF9800;
    
}
.toolbar-background-ios-speech .toolbar-background-ios {
    background: #855000;
}

.toolbar-background-md-speech .toolbar-background-md {
    background: #855000;
}
